
<div class=" hidden-xs hidden-sm hidden-md col-lg-2 col-lg-offset-10 Panier">

    {% render(controller('MainBundle:News:display')) %}

    {% include '::ModulesUsed/ShareBtn.html.twig' %}
</div>
<div class="push"></div>
