{% extends "::layout/layout.html.twig" %}
{% block body %}

    {#<div class="container white col-lg-12 padder-t2 DivTitre">#}
        {#<h2 class="LigneTitre Titre"><span class="LigneSpan">Don</span></h2>#}
    {#</div>#}

    {#{% for don in dons %}#}
        {#<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Don">#}
            {#<div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 DescriptionDon">#}
                {#<p>{{ don.description|raw }}</p>#}
            {#</div>#}
        {#</section>#}
    {#{% endfor %}#}


    <div class="pane-content">
        <div style="display:block; width:100%; padding:200px 0 0; margin:0 auto; font-family:Arial; font-size:0.8rem; color:#333333; background-image:url('https://www.unicef.fr/sites/default/files/dbledonbg.jpg'); background-repeat:no-repeat; background-position:50% 0; box-sizing:border-box;">
            <div style="width:100%; margin:0; padding:0; box-sizing:border-box;">
                <div style="width:70%; min-width:700px; margin:0 auto; padding:13px 0; background-image:url('https://www.unicef.fr/sites/default/files/whitebg.png'); background-repeat:no-repeat; background-position:50% 0; border-top-left-radius:7px; border-top-right-radius:7px; box-sizing:border-box;">&nbsp;
                </div>
                <div style="width:70%; min-width:700px; margin:0 auto; padding-top:20px; padding-bottom:20px; background-color:#ffffff; box-sizing:border-box;">
                    <h2 style="text-align: center; font-size: 38px;">{{ don.nom }}</h2>
                    <section id="Payment" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="DivImageDon col-xs-6 col-sm-4 col-md-2 col-lg-3 ">
                            <p class="NomDon">PayPal</p>
                            <i class="fa fa-paypal fa-5x" aria-hidden="true"></i>
                        </div>
                        <div class="DivImageDon col-md-offset-2 col-lg-offset-2 col-xs-6 col-sm-4 col-md-2 col-lg-3 ">
                            <p class="NomDon">Crowdfounding</p>
                            <i class="fa fa-university fa-5x" aria-hidden="true"></i>
                        </div>
                    </section>
                    <p style="text-align: center; font-size: x-large;">{{ don.description }}</p>
                </div>
            </div>
        </div>
    </div>





{% endblock %}