{% extends "::layout/layout.html.twig" %}
{% block body %}

    <div class="col-xs-12" style="margin-top: 5%">
        <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 2%;">
            <h2 class="col-lg-12">Editeur</h2>
            <p class="col-lg-12" >Le site https://auxporteursdelumiere.org est édité par l’Association Aux porteurs de lumiere dont le siège
                est situé 12, rue des cerisiers 67118 FURDENHEIM. Le président de l'association est Mr Bernard Geyler.</p>
        </div>

        <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 2%;">
            <h2 class="col-lg-12">Hébergeur</h2>
            <p class="col-lg-12" >Le site https://auxporteursdelumiere.org est hébergé par la société OVH</p>
        </div>

        <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 2%;">
            <h2 class="col-lg-12">Protection et traitement des données à caractère personnel</h2>
            <p class="col-lg-12" >Le site https://auxporteursdelumiere.org respecte la vie privée de l’internaute et se
                conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles.
                Aucune information personnelle n’est collectée à votre insu. Aucune information personnelle n’est cédée
                à des tiers.</p>
        </div>

        <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 2%;">
            <h2 class="col-lg-12">Droit des internautes</h2>
            <p class="col-lg-12" >Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 modifiée relative à
                l’informatique, aux fichiers et aux libertés, les internautes disposent d’un droit d’accès, d’opposition,
                de rectification et de suppression des données qui les concernent. Ce droit s’exerce par voie postale,
                en justifiant de son identité, à l’adresse électronique suivante : aporteurlumiere@gmail.com</p>
        </div>

        <div class="col-lg-offset-1 col-lg-11" style="margin-bottom: 2%;">
            <h2 class="col-lg-12">Propriété intellectuelle</h2>
            <p class="col-lg-12" >Tous les éléments, textes, photos ou autres sur ce site sont la propriété de Fraternité
                en Irak. Toute reproduction, copie partielle ou intégrale sur support papier ou sous forme électronique
                doit faire l’objet d’une demande d’autorisation auprès de l’Association (aporteurlumiere@gmail.com).
                Dans le cadre de cette autorisation, tous les documents copiés doivent conserver les annotations ou logo
                faisant référence à leur(s) auteur(s).</p>
        </div>


    </div>


{% endblock %}