    <div id="FirstBar">
    {% for new in news %}
            <div id="OneNews">
                <i id="pict" class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
                <h3 id="MotsBar" > <p>{{ new.nom }}</p></h3>
            </div>
    {% endfor %}
            <div id="DivAllNews">
                <a type="button" class="btn btn-link " id="AllNews" href ="{{ path("news") }}">Voir toutes les news</a></button>
            </div>
    </div>
