<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bandeauHomepage">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 bandeauText" >
        <h2>{{ bandeau.nom }}</h2>
    </div>
    <a href="{{path('don') }}" style="color: black;">
        <div class="bandeauDonate">
            <p class="BoutonDon">Faire un Don</p>
        </div>
    </a>
</div>