{% extends "::adminLayout/layout.html.twig" %}
{% block body %}

<div class="push"></div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-9">
<h2 style="">Ajouter une actualité :</h2>
<div style=" margin-top: 2%;">

       {{ form_start(form1) }}
       {{ form_end(form1) }}

</div>
</div>
{% endblock %}