{% extends "::layout/layout.html.twig" %}

{% block body %}
<div id="TexteHomePage" class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-9 col-sm-9 col-md-9 col-lg-9">
    {#{% for description in descriptions %}#}
        <h1></h1>
    <div id="DivHomePage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 DivHomePage">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>

    {#{% endfor %}#}
</div>
{% endblock %}
