#container
{
    margin-right:5%;
    margin-left: 5%;
    min-height: 100%;
    position: relative;
    background-color: rgb(235, 235, 235);
    background-color: white;

}

html, body
{
    height: 100%;
}


body
{
    background-color: rgb(235, 235, 235);
    font-family: Gill Sans MT, sans-serif;
}

h1
{
    font-weight: bold;
    color: rgb(1, 167, 217);
    font-size: xx-large;
}

h2
{
    font-weight: 600;
    color: rgb(1, 117, 217);
    font-size: xx-large;
}

h3
{
    color: rgb(1, 117, 217);
    font-weight: bold;
}

h5
{
   margin:0px;
}

.LigneTitre
{
    background:linear-gradient(
        rgb(1, 117, 217) 0%,
        rgb(1, 117, 217) 45%,
        whitesmoke 46%,
        whitesmoke 54%,
        whitesmoke 54%,
        rgb(1, 117, 217) 54%,
        rgb(1, 117, 217) 100%);
    background:-webkit-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:    -moz-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:     -ms-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:      -o-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
}

.LigneSpan
{
    background:rgb(1, 117, 217);
    padding:0 20px;
}
.centrageD
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------- Header -------------------- */
header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    align-items: center;
    min-height: 82px;
}

header, .push
{
    height: 12vh;
}



.imgheader
{
    width: 80px;
    min-width: 80px;
}

#TitreHeader
{
    margin: 0;
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

#TitreHeader:hover, TitreHeader:link, TitreHeader:visited, TitreHeader:active
{
    color: rgb(1, 167, 217)
}

@media screen and (max-width: 760px)
{
    #TitreHeader
    {
        margin: auto;
    }
}

#DivHeader
{
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

#DonHeader
{
    text-decoration: underline rgb(207, 71, 47);
    font-weight: bold;
}

.MotsHeader
{
    font-size: large;
}
/* -------------------- !Header! -------------------- */



/* -------------------- SideNav -------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* -------------------- !SideNav! -------------------- */



/* -------------------- Footer -------------------- */
footer
{
    box-shadow: 1px 1px 12px #555;
    vertical-align: middle;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: white;
}

footer, .push2
{
    height: 40px;
}

#Mentions
{
    display: block;
    text-align: right;
}

#Droits, #Mentions
{
    white-space: nowrap;
}
/* -------------------- !Footer! -------------------- */



/* -------------------- Barre Droite -------------------- */
.Panier
{
    position: fixed;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#FirstBar
{
    padding-bottom: 2%;
    border-bottom: 1px black solid;
    margin-top: 10%;
}

#MotsBar
{
    color: black;
    margin-left: 15%;
    font-size: medium;
    margin-top: 0px;
}

#AllNews
{
    margin-top: 5%;
}

#DivAllNews
{
    display: flex;
    align-content: center;
    justify-content: center;
}

#OneNews
{
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#SecondBar
{
    text-align: center;
    border-bottom: 1px black solid;
}

.ImgBar
{
    padding: 18%;

}

#ThirdBar
{
    margin-top: 1.5vh;
}
/* -------------------- !Barre Droite! -------------------- */



/* -------------------- Home Page -------------------- */

#DivBvn
{
    padding: 0px;
    display: flex;
    align-items: center;
    height: 17vh;
    background-color: rgb(1, 117, 217);

}

#Bvn
{
    margin-left: 8%;
    color: rgb(235, 235, 235);
}

#Mycarousel
{
    width:100%;
    height:550px;
}

.test7
{
   padding: 0px;
}

.ImageCarousel
{
    max-width: 100%;
    max-height : 550px;
    width: 100%;
    height: 550px;
}

.carousel-indicators
{
    z-index: 1;
}


.DivHomePage
{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 1196px)
{
    .DivHomePage
    {
        flex-direction: column;
    }
}

.MotHomePage
{
    min-width: 142px;
    min-height: 52px;
    text-align: center;
    border: 2px rgb(60, 60, 60) outset;
    white-space: nowrap;
    padding: 2%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.DescriptionHomePage
{
    text-align: center;
    border: 2px rgb(60, 60, 60) outset;
    max-width: 600px;
    margin-left: 5%;
    padding: 2%;
    background-color: rgb(235, 235, 235);
    font-size: medium;
    border-radius: 10px;
}

.DescriptionHomePage:hover
{
    cursor:  pointer;
}

.imageAccueil
{
    padding-top: 50px;
    max-width: 400px;
}

.modal-header
{
    padding: 5%;
    background-color: rgb(1, 117, 217);
    /*padding: 2%;*/
    margin-top: 2%;
    opacity: 1;
}
.modal-dialog
{
    margin-top: 10%;
}
.fade
{
    padding-right:0!important;
}
.modal-content
{
    opacity: 1!important;
}

.TextModalHomepage
{
    padding: 5%;
    text-align: center;
    font-size: 20px;
}
button.close
{
    width:100%;
    height:10%;
    display: flex;
    top:0;
    z-index: 1051;
    background-color: rgb(1, 117, 217) !important;
    opacity: 1;
}
button.close:hover
{
    width:100%;
    height:10%;
    display: flex;
    top:0;
    z-index: 1051;
    background-color: rgb(1, 117, 217)!important;
    opacity: 1;
}
.close
{
    text-shadow:none;
    color: whitesmoke;
}
.close:hover
{
    color: black;
}

/* -------------------- !Home Page! -------------------- */



/* -------------------- Origines -------------------- */

.QuiOrigine
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.QuiOrigine2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TitreOrigine
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
}

#ImgOrigine
{
    width: 450px;
}

.DescriptionOrigine
{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

/* -------------------- !Origines! -------------------- */



/* -------------------- Lieu -------------------- */
#IrakLieu
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 3%;
    margin-top: 5%;
    margin-bottom: 10%;
}


#TitreLieu
{
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    padding: 1%;
    white-space: nowrap;
}

#ImgLieu
{
    width: 25%;
    position: absolute;
    right: 10%;
}
/* -------------------- !Lieu! -------------------- */



/* -------------------- Objectif -------------------- */
#Objectif
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 3%;

}

#TitreObjectif
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
}

/* -------------------- !Objectifs! -------------------- */



/* -------------------- Membres -------------------- */
#DivTitreMembres
{
    background-color: rgb(1, 117, 217);
    padding: 2%;
    margin-bottom: 3%;
}

#TitreMembres
{
    color: whitesmoke;
    text-align: center;
}

.Membres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    padding-bottom: 0.5%;
    max-width: 100%
}

.Membres2
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3%;
    padding-bottom: 1%;
    max-width: 100%
}

.ImgMembres
{
    display: block;
    margin: auto;
}

.DescriptionMembre
{
    text-align: left;
}

.DescriptionMembre2
{
    text-align: right;
}

#DescriptionPhotoMembres
{
    text-align: center;
}
/* -------------------- !Membres! -------------------- */



/* -------------------- Media -------------------- */

#DivImgMedia
{
    width: 300px ;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 12px #555;
    margin: 3%;
    margin-left: 5.5%;
    margin-right: 5%;
    padding: 0px;
}

#ImgMedia
{
    width: 85%;
    height: 85%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ImgModalMedia
{
    max-width:100%
}
.modalMedia
{
    width:800px;
    /*height:600px;*/
}

#Media
{
    background-color: white;
}
@media screen and (max-width: 760px)
{
    #Media
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.BarreRechercheGalerie
{
    margin-bottom: 2%;

}
/* -------------------- !Media! -------------------- */



/* -------------------- Don -------------------- */
#Don
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
}

#TitreDon
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
    margin: 3%;
    border-radius: 10px;
}

.DivImageDon
{
    border: 2px black solid;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(215, 215, 215);
}

#DescriptionDon
{
    text-align: center;
}

#Payment
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

.NomDon
{
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid rgb(207, 71, 47);
}
/* -------------------- !Dons! -------------------- */



/* -------------------- News -------------------- */
#News
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

#TitreNews
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
}

#DescriptionNews
{
    text-align: center;
    margin: 0;
}
/* -------------------- !News! -------------------- */



/* -------------------- Contact -------------------- */

#DivTitreContact
{
    background-color: rgb(1, 117, 217);
    padding: 2%;
    margin-bottom: 3%;
}

#TitreContact
{
    color: whitesmoke;
    text-align: center;
}


#MessageContact
{
    width: 130%;
}
#main_mainbundle_contact_message
{
    height: 200px;
}

#main_mainbundle_contact_lastname, #main_mainbundle_contact_firstname, #main_mainbundle_contact_email, #main_mainbundle_contact_phone, #main_mainbundle_contact_message
{
    z-index: 1;
}

.btn-danger {
    color: white;
    background-color: rgb(1, 117, 217);
    border-color: rgb(1, 8, 217);
}

.inputGroupContainer
{
    padding-top: 0.5%;
}
/* -------------------- !Contact! -------------------- */




/* -------------------- Partenaire -------------------- */
#Partner
{

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-responsive
{
    max-width: 30%;
    max-height: 30%;
    margin: auto;

}

.ImgPartnerCenter
{

}

.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}
/* -------------------- !Partenaire! -------------------- */



/*---------------------  Action   -------------------- */
.pastAction
{
    display :flex;
    flex-direction: column;

    background-color: rgb(235, 235, 235);
}
.pastActionImg
{
    min-width: 425px;
    max-width: 425px;
    max-height: 300px;
    min-height: 300px;
}
.TitreAction
{
    font-size: 20px;
    font-weight: bold;
    margin : 5%;
    text-align: center;
}
.DateAction
{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.DescriptionAction
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.LirePlusAction:hover
{
    box-shadow: 1px 1px 12px #555;
}

/*---------------------  !Action!   -------------------- */