#main
{
    max-width:1500px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}



header
{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 1em;
    width: 100%;
    padding-left: 2vw;
    box-shadow: 1px 1px 12px #555;
    text-align: center;
    display : block;
}

header, .push
{
    height: 10vh;
}

footer
{


}

footer, .pushf
{
    height: 4.2vh;
}


h1
{
    color: rgb(111, 157, 232);
    margin-top: 0;
    padding-top: 0.5vh;
    white-space: nowrap
}



#Mentions
{
    text-align: right;
}

#imgheader
{
    width: 7vw;
    height: 7vh;
}


#MotHomePage
{
    display: inline-block;
    border: 3px black solid;
    text-align: center;
    white-space: nowrap;
    padding: 1%;
}

#DescriptionHomePage
{
    vertical-align:middle;
    display: inline-block;
    text-align: center;
    border: 3px black solid;
    max-width: 600px;
    margin-left: 5%;
    padding: 1%;
}

#DivHomePage
{
    margin: 5%;
}

#Mycarousel
{
    width: 969.99px;
    height: 545.61px;
}

.ImageCarousel
{

    max-height:545.61px;
    max-width:969.99px;
    width: 969.99px;
    height: 545.61px;
}

#Bvn
{
    margin: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.Panier
{
    float: right;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    height: 100%;
    padding-top: 4vh;
}

#BoutonBar
{
    vertical-align:middle;
    border:3px black solid;
    height: 30px;
    width:30px;
    display: inline-block;
    margin-left: 1.5vw;
}

#MotsBar
{
    white-space: nowrap;
    display: inline-block;
    color: red;
    margin-left: 2.5vw;
    font-size: medium;

}



#FirstBar
{
    padding-bottom: 1.5vh;
    border-bottom: 1px black solid;

}

#BoutonNewsBar
{
    text-align: center;
    margin: 3vh;
    border:1px black solid;
    border-radius: 2px;
    background-color: gray;
}

#BoutonNewsBar:hover
{
    background-color: white;
}

#SecondBar
{
    text-align: center;
    margin-top: 1.5vh;
    border-bottom: 1px black solid;
}

#ThirdBar
{
    text-align: center;
    margin-top: 1.5vh;
}

.ImgBar
{
    padding: 7%;
    display: inline-block
}