#container
{
    /*margin-right:5%;*/
    /*margin-left: 5%;*/
    min-height: 100%;
    position: relative;
    background-color: rgb(235, 235, 235);
    background-color: white;
}
@font-face {
    font-family: 'Typo_Round';
    src: url('Typo_Round_Light_Demo.otf')
}
html, body
{
    height: 100%;
}


body
{
    background-color: rgb(235, 235, 235);
    font-family: Gill Sans MT, sans-serif;
    font-size: medium;
}

h1
{
    font-family: 'Typo_Round';
    font-weight: bold;
    color: rgb(1, 167, 217);
    font-size: x-large;
}

h2
{
    font-family: 'Typo_Round';
    font-weight: 600;
    color: rgb(1, 117, 217);
    font-size: xx-large;
}

h3
{
    font-family: 'Typo_Round';
    color: rgb(1, 117, 217);
    font-weight: bold;
}

h5
{  font-family: 'Typo_Round';
   margin:0px;
}

.Titre
{
    color: whitesmoke;
    text-align: center!important; 
}

.DivTitre
{
    background-color: rgb(1, 117, 217);
    padding: 2%;
    margin-bottom: 3%;
}

@media only screen and (min-width: 765px) and (max-width: 850px) {
    .DivTitre
    {
        width: 650px;
    }
}

.Description
{
    text-align: justify;
    padding-right: 5%;
}


.LigneTitre
{
    background:linear-gradient(
        rgb(1, 117, 217) 0%,
        rgb(1, 117, 217) 45%,
        whitesmoke 46%,
        whitesmoke 54%,
        whitesmoke 54%,
        rgb(1, 117, 217) 54%,
        rgb(1, 117, 217) 100%);
    background:-webkit-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:    -moz-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:     -ms-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
    background:      -o-linear-gradient(
            rgb(1, 117, 217) 0%,
            rgb(1, 117, 217) 45%,
            whitesmoke 46%,
            whitesmoke 54%,
            rgb(1, 117, 217) 54%,
            rgb(1, 117, 217) 100%);
}

.LigneSpan
{
    background:rgb(1, 117, 217);
    padding:0 20px;
}
.centrageD
{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul, menu, dir {
    -webkit-padding-start: 10px;
}

/*.sidenav{*/
    /*padding: 8px 20px 8px 32px;*/
/*}*/

/* -------------------- Header -------------------- */
header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 12px #555;
    display: flex;
    align-items: center;
    min-height: 82px;
}

header, .push
{
    height: 12vh;
}

@media only screen and (min-width: 1198px) and (max-width: 1300px) {
   #DivHeader
   {
       width: 100%;
   }
}


.imgheader
{
    width: 80px;
    min-width: 80px;
    /*margin-left: 40%;*/
}

#TitreHeader
{
    margin: 0;
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
}

#TitreHeader:hover, TitreHeader:link, TitreHeader:visited, TitreHeader:active
{
    color: rgb(1, 167, 217)
}

@media only screen and (min-width: 1198px) and (max-width: 1400px) {
    #TitreHeader
    {
        display: none!important;
    }
}

@media screen and (max-width: 760px)
{
    #TitreHeader
    {
        margin: auto;
    }
}

@media screen and (max-width: 768px)
{
    #TitreHeader
    {
        display: flex;
        justify-content: center;
        font-size: large;
        padding: 0px;
    }

    .imgheader
    {
        width: 60px!important;
        min-width: 60px!important;
    }

    .push
    {
        height: 13vh;
    }
}

#DivHeader      /* Centrage Menu */
{
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

#DonHeader
{
    text-decoration: underline rgb(207, 71, 47);
    font-weight: bold;
}

.MotsHeader
{
    font-size: large;
}

/* -------------------- !Header! -------------------- */



/* -------------------- SideNav -------------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* -------------------- !SideNav! -------------------- */



/* -------------------- Footer -------------------- */
footer
{
    box-shadow: 1px 1px 12px #555;
    vertical-align: middle;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: white;
    height: 40px;
}

#Mentions
{
    display: block;
    text-align: right;
}

@media screen and (max-width: 1196px)
{
    #Mentions
    {
        text-align: center;
    }
}

#Droits, #Mentions
{
    white-space: nowrap;
}

#Droits
{
    text-overflow: ellipsis;
}
/* -------------------- !Footer! -------------------- */



/* -------------------- Barre Droite -------------------- */
.Panier
{
    position: fixed;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#FirstBar
{
    padding-bottom: 2%;
    border-bottom: 1px black solid;
    margin-top: 10%;
}

#MotsBar
{
    color: black;
    margin-left: 15%;
    font-size: medium;
    margin-top: 0px;
}

#AllNews
{
    margin-top: 5%;
}

#DivAllNews
{
    display: flex;
    align-content: center;
    justify-content: center;
}

#OneNews
{
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#SecondBar
{
    text-align: center;
    border-bottom: 1px black solid;
}

.ImgBar
{
    padding: 18%;

}

#ThirdBar
{
    margin-top: 1.5vh;
}
/* -------------------- !Barre Droite! -------------------- */



/* -------------------- Home Page -------------------- */

#DivBvn
{
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #009de0;
    margin-bottom: 5%;

}

#Bvn
{
    margin-left: 7%;
    padding: 1%;
    color: rgb(235, 235, 235);
}

#myCarousel
{
    width:100%;
    height:640px;
    padding: 0px;
}

.ImageCarousel
{
    max-width: 100%;
    max-height :640px;
    width: 100%;
    height: 700px;
}

.carousel-indicators
{
    z-index: 1;
}


.DivHomePage
{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 1196px)
{
    .DivHomePage
    {
        flex-direction: column;
    }
}

.MotHomePage
{
    min-width: 142px;
    min-height: 52px;
    text-align: center;
    border: 2px rgb(60, 60, 60) outset;
    white-space: nowrap;
    padding: 2%;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.DescriptionHomePage
{
    text-align: center;
    border: 2px rgb(60, 60, 60) outset;
    max-width: 600px;
    margin-left: 5%;
    padding: 2%;
    background-color: rgb(235, 235, 235);
    font-size: medium;
    border-radius: 10px;
}

.DescriptionHomePage:hover
{
    cursor:  pointer;
}

.LirePlusHomePage
{
    font-weight: bold;
    margin-top: 2%;
}

.imageAccueil
{
    padding-top: 50px;
    max-width: 400px;
}

.modal-header
{
    padding: 5%;
    background-color: rgb(1, 117, 217);
    /*padding: 2%;*/
    margin-top: 2%;
    opacity: 1;
}
.modal-dialog
{
    margin-top: 17%;
}
.fade
{
    padding-right:0!important;
}
.modal-content
{
    opacity: 1!important;
}

.TextModalHomepage
{
    padding: 5%;
    text-align: center;
    font-size: 20px;
    margin-top: 19.5%;
}
button.close
{
    width:100%;
    height:10%;
    display: flex;
    top:0;
    z-index: 1051;
    background-color: rgb(1, 117, 217) !important;
    opacity: 1;
}
button.close:hover
{
    width:100%;
    height:10%;
    display: flex;
    top:0;
    z-index: 1051;
    background-color: rgb(1, 117, 217)!important;
    opacity: 1;
}
.close
{
    text-shadow:none;
    color: whitesmoke;
}
.close:hover
{
    color: black;
}

.Retour
{
    margin-left: 2%;
}

.HelpUs
{
    font-size: 57px;
    line-height: 50px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.DivDonate
{
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

.Donate
{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #009de0;
}

.Donate:hover
{
    cursor:  pointer;
    background-color: #cf472f;
}

.TextIntro
{
    color: whitesmoke;
    font-size: large;
    margin-bottom: 0px;
    text-align: justify;
    padding-left: 5%;
}

.bjr, .bye
{
    width: 250px;
    height: 250px;
}

.bjr
{
    background-color: white;
}

.bye
{
    background-color: #009de0;
    border-radius: 2px;
    color: white;
  padding-top: 10%;
    text-align: center;
}

.bye2
{
    background-color: #009de0;
    border-radius: 3px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.All
{
    width: 250px;
    height: 250px;
}

.FaireDon
{
    background-color: #009de0;
    color: white;
}

.FaireDon:hover
{
    background-color: #feb41f!important;
    color: white;
}
/* -------------------- !Home Page! -------------------- */



/* -------------------- Origines -------------------- */

.QuiOrigine
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

@media screen and (max-width: 1000px)
{
    .QuiOrigine
    {
       flex-direction: column;
    }

    .Description
    {
        margin: 2%;
    }
}



.QuiOrigine2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TitreOrigine
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
}

.ImgOrigine
{
    max-width: 450px;
    width: 70%;
}

.DescriptionOrigine
{
    text-align: justify;
    padding-right: 5%;
}

/* -------------------- !Origines! -------------------- */



/* -------------------- Lieu -------------------- */
.IrakLieu
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
@media screen and (max-width: 1000px)
{
    .IrakLieu
    {
        flex-direction: column;
    }
}

#TitreLieu
{
    text-align: center;
    border: 3px black solid;
    border-radius: 10px;
    padding: 1%;
    white-space: nowrap;
}

.ImgLieu
{
    max-width: 350px;
    width: 70%;
}
/* -------------------- !Lieu! -------------------- */



/* -------------------- Objectif -------------------- */
.Objectif
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

@media screen and (max-width: 760px)
{
    .Objectif
    {
        flex-direction: column!important;
    }
}

.ImgObjectif
{
    width: 50%;
}

/* -------------------- !Objectifs! -------------------- */



/* -------------------- Membres -------------------- */
#DivTitreMembres
{
    background-color: rgb(1, 117, 217);
    padding: 2%;
    margin-bottom: 3%;
}

#TitreMembres
{
    color: whitesmoke;
    text-align: center;
}

.Membres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
    padding-bottom: 0.5%;
    max-width: 100%
}

.Membres2
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3%;
    padding-bottom: 1%;
    max-width: 100%
}
.figure1
{
    display: none;
}

@media screen and (max-width: 1000px)
{
    .Membres
    {
        flex-direction: column;
    }

    .Membres2
    {
        flex-direction: column;
    }

    .figure1
    {
        display: inline;
    }

    .figure2
    {
        display: none;
    }

    .Membres, .Membres2
    {
        margin-bottom: 5%;
    }

    .DescriptionMembre, .DescriptionMembre2
    {
        text-align: center!important;
    }
}

.ImgMembres
{
    display: block;
    margin: auto;
}

.DescriptionMembre
{
    text-align: left;
}

.DescriptionMembre2
{
    text-align: right;
}

.DescriptionPhotoMembres
{
    text-align: center;
}
/* -------------------- !Membres! -------------------- */



/* -------------------- Media -------------------- */

.DivImgMedia
{
    width: 300px ;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 12px #555;
    margin: 3%;
    margin-left: 5.5%;
    margin-right: 5%;
    padding: 0px;
}

#ImgMedia
{
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivImgMedia:hover
{
    cursor:  pointer;
}

#ImgModalMedia
{
    max-width:100%
}
.modalMedia
{
    width:800px;
    /*height:600px;*/
}

#Media
{
    background-color: white;
}
@media screen and (max-width: 760px)
{
    #Media
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.BarreRechercheGalerie
{
    margin-bottom: 2%;

}

.input-group .form-control
{
    z-index: 1;
}
/* -------------------- !Media! -------------------- */



/* -------------------- Don -------------------- */
.Don
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
}

.TitreDon
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
    margin: 3%;
    border-radius: 10px;
}

.DivImageDon
{
    border: 2px black solid;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(215, 215, 215);
}

#DescriptionDon
{
    text-align: center;
}

#Payment
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
}

@media screen and (max-width: 1000px)
{
    #Payment
    {
        flex-direction: column;
    }

    .DivImageDon
    {
        margin-bottom: 10%;
    }

}

.NomDon
{
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid rgb(207, 71, 47);
}
/* -------------------- !Dons! -------------------- */



/* -------------------- News -------------------- */
#News
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

#TitreNews
{
    text-align: center;
    border: 3px black solid;
    padding: 1%;
    white-space: nowrap;
}

#DescriptionNews
{
    text-align: center;
    margin: 0;
}
/* -------------------- !News! -------------------- */



/* -------------------- Contact -------------------- */

#DivTitreContact
{
    background-color: rgb(1, 117, 217);
    padding: 2%;
    margin-bottom: 3%;
}

#TitreContact
{
    color: whitesmoke;
    text-align: center;
}


#MessageContact
{
    width: 130%;
}
#main_mainbundle_contact_message
{
    height: 200px;
}

#main_mainbundle_contact_lastname, #main_mainbundle_contact_firstname, #main_mainbundle_contact_email, #main_mainbundle_contact_phone, #main_mainbundle_contact_message
{
    z-index: 1;
}

.btn-danger {
    color: white;
    background-color: rgb(1, 117, 217);
    border-color: rgb(1, 8, 217);
}

.inputGroupContainer
{
    padding-top: 0.5%;
}
/* -------------------- !Contact! -------------------- */




/* -------------------- Partenaire -------------------- */
.img-responsive
{
    max-width: 30%;
    max-height: 30%;
    margin: auto;
}

.ImgPartnerCenter
{

}

.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}
/* -------------------- !Partenaire! -------------------- */



/*---------------------  Action   -------------------- */
.pastAction
{
    display :flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}
.pastActionImg
{
    min-width: 100%;
    max-width: 100%;
}

.TitreAction
{
    font-size: 20px;
    font-weight: bold;
    margin : 5%;
    text-align: center;
}
.DateAction
{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.DescriptionAction
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.LirePlusAction:hover
{
    box-shadow: 1px 1px 12px #555;
    cursor: pointer;
}

@media screen and (max-width: 1000px)
{
    .ActionRealise
    {
        margin-bottom: 6%;
    }

}

.DateActionModal
{
    padding-top: 2%;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.CoutActionModal
{
    margin-top: 3%;
    color: rgb(1, 117, 217);
    font-weight: bold;
}

.ImageActionModal
{
    /*background-color: transparent;*/
    position: absolute;
    float: left;
    margin-left: 2%;
    margin-top: -10%;
    z-index: 1051;
}

.ModalAction
{
    width: 1100px;
}

.TitreModal
{
    margin-left: 350px!important;
}

.ImageActionCarouselModal
{
    margin-left: 15.5%;
    max-width: 66%;
    max-height : 450px;
    min-width: 70%;
    min-height : 450px;
    width: 70%;
    height: 550px;
}

.ImageHautActionModal
{
    width: 350px;
    height: 250px;
}

.CarouselModalAction
{
    margin-bottom: 2%;
}
/*---------------------  !Action!   -------------------- */

/*---------------------  bouttonhover   --------------------*/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*---------------------  !bouttonhover!   --------------------*/