{% extends "::layout/layout.html.twig" %}
{% block body %}

<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sectionDescription">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divTextDescription">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 textDescription">
            <h2>Notre histoire</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <img src="{{ asset('img/2.jpg') }}" class="imageDescription">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divTextMoreDescription">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">
            <img src="{{ asset('img/partenaire.png') }}" style="width: 200px;">
           <h3>Nos volonté</h3>
            <p>Notre volonté est de permettre à cette jeunesse plein de promesse, triplement déracinée, d’abord de Mossoul vers la vallée de Ninive, puis de là vers le nord Kurdistan, souvent à Erbil, dans des camps, et enfin de là-bas, séparés de leurs familles vers Kirkuk afin de poursuivre leurs études et pourvoir devenir les cadres de l’Irak de demain. Bref, dès aujourd’hui se préparer pour construire l’après Daech.</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">
            <img src="{{ asset('img/partenaire.png') }}" style="width: 200px;">
            <h3>Nos valeurs</h3>
            <p>Notre association se donne pour mission de lever des fonds dans une démarche chrétienne éthique et oblative afin de financer les actions et projets humanitaires de Mgr Yousif Thomas Mirkis en Irak: Pas de frais généraux, pas de charges de publicité, de secrétariat. Notre action est le fruit d’un engagement où chaque membre prend à sa charge ses frais. La conséquence est immédiate : 1 euro collecté = 1 euro en faveur de l’Irak.</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 descriptionMore">
            <img src="{{ asset('img/irak2.png') }}" style="width: 200px;">
            <h3>Notre but</h3>
            <p>Notre volonté est de permettre à cette jeunesse plein de promesse, triplement déracinée, d’abord de Mossoul vers la vallée de Ninive, puis de là vers le nord Kurdistan, souvent à Erbil, dans des camps, et enfin de là-bas, séparés de leurs familles vers Kirkuk afin de poursuivre leurs études et pourvoir devenir les cadres de l’Irak de demain.  Bref, dès aujourd’hui se préparer pour construire l’après Daech.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bandeauHomepage">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 bandeauText" >
            <h2>Comment pouvez-vous simplement nous aider ? </h2>
        </div>
        <div class="bandeauDonate">
            <p style="margin: 0px">Faire un Don</p>
        </div>
    </div>
</section>


{% endblock %}
{#class="col-xs-12 col-sm-12 col-md-12 col-lg-12"#}