{% extends "::layout/layout.html.twig" %}
{% block body %}

    {% for objectif in objectifs %}
        <p>{{ objectif.nom }}</p>
        <p>{{ objectif.description }}</p>
    {% endfor %}
{% endblock %}